<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Sample Suite">


<test name="Google Test">
    <classes>
        <class name="testss.Google" ></class>  
    </classes>
</test>

<test name="Yahoo Test">
    <classes>
        <class name="testss.Yahoo" ></class>  
    </classes>
</test>


</suite>
